input {
    width: 100% !important;
}

#input-div {
    background-color: #f3f3f3;
}

#filtered-list {
    max-height: 20rem;
    overflow-y: auto;
}

p {
    border: 1px solid #f3f3f3;
    margin: 0;
    padding: 0.75rem;
    border-bottom: 0;
}
