<div id="mydiv">
    <form class="example-container" #userNameForm="ngForm" (ngSubmit)="getUsersRepositoryList()">
        <label>
            Name:
            <input type="text" required [(ngModel)]="userName" name="userName">
        </label>
        <button type="submit" [disabled]="userNameForm.invalid">Go</button>
        <button type="button" (click)="clearUserNameValue()">Clear</button>
    </form>

    <label>
        Filter:<input type="text" [formControl]="repositoryFilterKeyword"
                      (keyup)="filterRepository(repositoryFilterKeyword.value)">
    </label>
    <button type="button" (click)="clearFilteredValue()">Clear</button>

    <p *ngFor="let a of filteredData">
        {{a.name}}
    </p>
</div>

