<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div id="input-div" class="border rounded p-3 border-bottom-0">
                <form class="row my-3 mx-1" #userNameForm="ngForm" (ngSubmit)="getUsersRepositoryList()">
                    <div class="col-md-9">
                        <input class="p-1" type="text" required [(ngModel)]="userName" name="userName">
                    </div>
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-success"
                                [disabled]="userNameForm.invalid">Go
                        </button>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-outline-secondary" (click)="clearUserNameValue()">Clear
                        </button>
                    </div>
                </form>
                <div class="row mt-4 mb-3 mx-1">
                    <div class="col-md-9">
                        <input type="text" class="p-1" [formControl]="repositoryFilterKeyword"
                               placeholder="Enter some keywords to filter"
                               (keyup)="filterRepository(repositoryFilterKeyword.value)">
                    </div>
                    <span class="col-md-3">
                            <button type="button" class="p-1 btn btn-outline-secondary" (click)="clearFilteredValue()">Clear</button>
                        </span>
                </div>
            </div>
            <div class="rounded border" id="filtered-list">
                <p class="filter-list" *ngFor="let repositoryName of filteredData"
                   [innerHTML]="repositoryName.name | highlight : repositoryFilterKeyword.value"></p>
            </div>
        </div>
    </div>
</div>

